modules:
  BOX2D: true
  CHIPMUNK: false
  CURL: true
  CRYPTO: true
  EXPAT: true
  FREETYPE: true
  JSON: true
  JPG: true
  LUAEXT: true
  MONGOOSE: true
  OGG: true
  OPENSSL: true
  SQLITE3: true
  TINYXML: true
  PNG: true
  SFMT: true
  VORBIS: true
  untz: true

plugins: ~